@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }

section {
  padding: 3rem 1.25rem; }

/* typegraphy */
h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.5rem; }

p {
  font-size: 1.3rem; }

.subtitle {
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem; }

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }

.link {
  position: relative;
  display: inline-block;
  color: #2857af;
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none; }
  .link:hover {
    background-position: 0 100%; }

/* social icons */
.hero {
  /*Change icons size here*/
  /*Change icons circle size and color here*/ }
  .hero .wrapper {
    margin-top: 25px; }
  .hero .list-unstyled {
    padding-left: 0;
    list-style: none; }
  .hero .list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px; }
  .hero .social-icons .fa {
    font-size: 1.8em; }
  .hero .social-icons .fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .hero .social-icons.icon-circle .fa {
    border-radius: 50%; }
  .hero .social-icons.icon-rounded .fa {
    border-radius: 5px; }
  .hero .social-icons.icon-flat .fa {
    border-radius: 0; }
  .hero .social-icons .fa:hover,
  .hero .social-icons .fa:active {
    color: #fff;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333; }
  .hero .social-icons.icon-zoom .fa:hover,
  .hero .social-icons.icon-zoom .fa:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  .hero .social-icons .fa-github {
    background-color: #070709; }
  .hero .social-icons .fa-linkedin {
    background-color: #0085ae; }

/*-----------*/
.video-bg::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  /* apply the blur */
  backdrop-filter: blur(5px);
  /* apply the blur */
  pointer-events: none;
  /* make the pseudo class click-through */ }

.video-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: no-repeat center center;
  background-color: #202f45;
  background-image: url("../images/video-bg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: -999; }

#video-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0; }

/* header */
header {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.lang-switch .flag {
  width: 30px;
  height: 30px; }

/* navbar */
.navbar {
  padding: 0.5rem 0; }

.navbar-brand__icon {
  height: 70px; }

.navbar-toggler {
  border: none; }

/* hero */
.hero {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; }
  .hero img {
    display: none; }
  @media (min-width: 800px) {
    .hero .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
    .hero img {
      display: block;
      width: 60%; } }
  .hero .call-to-action {
    padding: 15px 0; }

/* about */
.about .content {
  display: flex;
  justify-content: space-between; }
  .about .content .download-cv {
    margin-top: 2rem; }

.about img {
  display: none; }

@media (min-width: 800px) {
  .about .img-wrap {
    width: 100%; }
  .about img {
    display: block;
    margin-left: 2rem;
    width: 100%; } }

/* experiences */
.experiences {
  background-color: #e7e3e9; }
  @media (min-width: 800px) {
    .experiences .content {
      display: flex; }
      .experiences .content .content-left {
        width: 60%; }
      .experiences .content .content-right {
        flex-grow: 1;
        margin-left: 15px; } }
  .experiences .experience {
    position: relative;
    background-color: #c7c4c9;
    padding: 1rem;
    margin: 1rem 0;
    max-width: 600px;
    border-radius: 8px; }
    .experiences .experience:last-of-type {
      border-bottom: none; }
    .experiences .experience .header {
      margin-bottom: 0.5rem; }
    .experiences .experience .company {
      font-size: 1.5rem;
      font-weight: 500; }
    .experiences .experience .job {
      font-size: 1.125rem;
      font-weight: 700; }

/* skills */
.skills .skillcards {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding: 30px 10px;
  overflow: hidden; }

.skills .skillcard {
  width: 100%;
  position: relative;
  padding: 30px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

.skills .skillcard__header {
  margin-bottom: 25px;
  position: relative;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.skills .skillcard__header__title {
  font-size: 17px;
  font-weight: normal;
  text-align: center;
  color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px; }

.skills .skillbar {
  width: 100%;
  margin-bottom: 25px;
  position: relative; }

.skills .skillbar:nth-child(5) {
  margin-bottom: 0; }

.skills .skillbar__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 10px; }

.skills .skillbar__icon {
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 1.6rem;
  width: 25px; }

.skills .skillbar__label-wrap {
  display: flex;
  align-items: center; }

.skills .skillbar__label {
  font-size: 12px;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 100%;
  display: block; }

.skills .skillbar__counter {
  font-size: 12px;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 1px; }

.skills .skillbar__headway-wrap {
  width: 100%;
  background: #252525; }

.skills .skillbar__headway {
  width: 0%;
  height: 4px;
  position: relative;
  transition: width 2s linear;
  background: #2f73ef; }

/* projects */
.projects p {
  font-size: 1.125rem; }

.projects .cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 30px; }

.projects .card-title {
  font-weight: bold; }

.projects .tags {
  padding-bottom: 1.5rem; }
  .projects .tags .tag {
    font-size: 0.75rem;
    background-color: #c2bdbd;
    color: #ffffff;
    padding: 0 1rem;
    margin: 0 0.125rem;
    border-radius: 30px;
    display: inline-block; }

.projects .btn + .btn {
  margin-left: 0.25rem; }

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: none;
  border-radius: 35px;
  text-decoration: none;
  transition: all 0.3s ease; }

#return-to-top i {
  margin: 0;
  color: #fff;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease; }

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9); }

#return-to-top:hover i {
  color: #fff;
  top: 10px; }

footer {
  background-color: #e7e3e9;
  padding: 0.5rem 0; }
  footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  footer .social-media {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0.5rem; }
  footer .icon {
    width: 44px;
    padding: 0.5rem; }
