@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700;800&display=swap");

$bck-color: #e7e3e9;
$section-padding: 3rem 1.25rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

section {
  padding: $section-padding;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* typegraphy */

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
}

.subtitle {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

/* header */

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $bck-color;
}

/* navbar */

.navbar {
  padding: 0.5rem 0;
}

.navbar-toggler {
  border: none;
}

/* hero */

.hero {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    display: none;
  }

  @media (min-width: 800px) {
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    img {
      display: block;
      width: 60%;
    }
  }

  .call-to-action {
    padding: 15px 0;
  }
}

/* experiences */

.experiences {
  background-color: $bck-color;

  .experience {
    padding: 2rem 0;
    border-bottom: dotted 1px;

    &:last-of-type {
      border-bottom: none;
    }

    .header {
      margin-bottom: 0.5rem;
    }

    .company {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .job {
      font-size: 1.125rem;
      font-weight: 700;
    }
  }
}

/* skills */

.skills-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem 0;

  .skill {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-right: 1rem;

    img {
      width: 50px;
      height: 60px;
      align-self: center;
      justify-self: center;
    }

    p {
      font-size: 1rem;
      text-align: center;
    }
  }
}

/* contact */

.contact {
  background-color: $bck-color;

  p {
    text-align: center;
  }

  form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

    input,
    textarea {
      border: solid 1px #a1a0a0;
    }
  }

  .send-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    .send-icon {
      width: 18px;
      margin-left: 0.5rem;
    }
  }
}

/* footer */

footer {
  background-color: $bck-color;
  padding-top: 0;
  text-align: center;

  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }

  .icon {
    width: 44px;
    padding: 0.5rem;
  }
}
